<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>buildfail</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but buildfail doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <h1>Main</h1>
    <% if (user) { %>
      <h2>user.name: <%= user.name %></h2>
    <% } %>
    <div id="app"></div>
    <div id="emo"></div>
    <!-- built files will be auto injected -->
    <script>
      const emojis = require('emojis-list');
      const electron = require('electron')
      var remote = require('electron').remote
      const app = remote.app
      console.log('main window: app: ', app);
      console.log(emojis[2]);
      document.getElementById('emo').textContent=emojis[2];
      </script>
    <% if (typeof emojis !== 'undefined') { %>
      emojis[2]
    <% } else { %>
      emojis not available as templateParameter at build time.
    <% } %>
  </body>
</html>
